{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="article">
    <h3 class="pad_bot no_margin">{{ header }}</h3>
    <ul class="ul_unstyled">
    {% for val in values_list %}
        <li class="pad_bot"><a href="{% url url val.slug %}">{{ val.title }}</a></li>
    {% empty %}
        <div class="alert alert-info">{% trans "Soon there will be something interesting" %}!</div>
	{% endfor %}
    </ul>
</div>
{% endblock %}
